.pass {
    color: green;
  }

  .fail {
    color: red;
  }

  h1 {
    text-align: center;
  }

  .code {
    background-color: lightgrey;
    border: 2px solid grey;
    border-radius: 10px;
    width: 50%;
  }